<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utool.plugin.singleelimination"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:icon="@drawable/se_logo"
        android:label="@string/app_name"
        android:theme="@style/UTooLTheme" >
        <activity
            android:name=".MatchupsActivity"
            android:exported="true"
            android:label="@string/title_activity_matchups" >
            <intent-filter>
                <action android:name="utool.plugin.intent.PICK_PLUGIN" />

                <category android:name="utool.plugin.PLUGIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleEliminationStandingsActivity"
            android:label="SingleEliminationStandingsActivity" >
        </activity>
        <activity
            android:name=".SingleEliminationStandingsActivityDescriptive"
            android:label="SingleEliminationStandingsActivity" >
        </activity>
        <activity
            android:name=".ParticipantTournamentActivity"
            android:label="ParticipantTournamentActivity" >
        </activity>
        <activity
            android:name=".SingleEliminationOptionsActivity"
            android:label="OptionsActivity" >
        </activity>
        <activity
            android:name=".OverallStandingsActivity"
            android:label="OverallStandingsActivity" >
        </activity>
        <activity
            android:name=".RoundStandingsActivity"
            android:label="RoundStandingsActivity" >
        </activity>
        <activity
            android:name=".SetScoresActivity"
            android:label="SetScoresActivity" >
        </activity>
        <activity
            android:name="SEAdvancedEmailOptions"
            android:label="AdvancedEmailOptions" >
        </activity>
    </application>

</manifest>